body {
    text-align: center;
}

#title {
    background-color: lightblue;
}

.facts {
    color: red;
    font-size: 2em;
}

.facts#colour {
    color:blue;
}

#post1 {
    width: 60%;
    margin: auto;
}